@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="imoon-"], [class*=" imoon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fs16
{
    font-size:16px;
}
.fs24
{
    font-size:24px;
}
.fs32
{
    font-size:32px;
}
.fs48
{
    font-size:48px;
}

.fs64
{
    font-size:64px;
}
.fs128
{
    font-size:128px;
}
.imoon-glass:before {
	content: "\e75e";
}
.imoon-music:before {
	content: "\e75f";
}
.imoon-search:before {
	content: "\e760";
}
.imoon-envelope:before {
	content: "\e761";
}
.imoon-heart:before {
	content: "\e762";
}
.imoon-star:before {
	content: "\e763";
}
.imoon-star-empty:before {
	content: "\e764";
}
.imoon-user:before {
	content: "\e765";
}
.imoon-film:before {
	content: "\e766";
}
.imoon-th-large:before {
	content: "\e767";
}
.imoon-th:before {
	content: "\e768";
}
.imoon-th-list:before {
	content: "\e769";
}
.imoon-ok:before {
	content: "\e76a";
}
.imoon-remove:before {
	content: "\e76b";
}
.imoon-zoom-in:before {
	content: "\e76c";
}
.imoon-zoom-out:before {
	content: "\e76d";
}
.imoon-off:before {
	content: "\e76e";
}
.imoon-signal:before {
	content: "\e76f";
}
.imoon-cog:before {
	content: "\e770";
}
.imoon-trash:before {
	content: "\e771";
}
.imoon-home:before {
	content: "\e772";
}
.imoon-file:before {
	content: "\e773";
}
.imoon-time:before {
	content: "\e774";
}
.imoon-road:before {
	content: "\e775";
}
.imoon-download-alt:before {
	content: "\e776";
}
.imoon-download:before {
	content: "\e777";
}
.imoon-upload:before {
	content: "\e778";
}
.imoon-inbox:before {
	content: "\e779";
}
.imoon-play-circle:before {
	content: "\e77a";
}
.imoon-repeat:before {
	content: "\e77b";
}
.imoon-refresh:before {
	content: "\e77c";
}
.imoon-list-alt:before {
	content: "\e77d";
}
.imoon-lock:before {
	content: "\e77e";
}
.imoon-flag:before {
	content: "\e77f";
}
.imoon-headphones:before {
	content: "\e780";
}
.imoon-volume-off:before {
	content: "\e781";
}
.imoon-volume-down:before {
	content: "\e782";
}
.imoon-volume-up:before {
	content: "\e783";
}
.imoon-qrcode:before {
	content: "\e784";
}
.imoon-barcode:before {
	content: "\e785";
}
.imoon-tag:before {
	content: "\e786";
}
.imoon-tags:before {
	content: "\e787";
}
.imoon-book:before {
	content: "\e788";
}
.imoon-bookmark:before {
	content: "\e789";
}
.imoon-print:before {
	content: "\e78a";
}
.imoon-camera:before {
	content: "\e78b";
}
.imoon-font:before {
	content: "\e78c";
}
.imoon-bold:before {
	content: "\e78d";
}
.imoon-italic:before {
	content: "\e78e";
}
.imoon-text-height:before {
	content: "\e78f";
}
.imoon-text-width:before {
	content: "\e790";
}
.imoon-align-left:before {
	content: "\e791";
}
.imoon-align-center:before {
	content: "\e792";
}
.imoon-align-right:before {
	content: "\e793";
}
.imoon-align-justify:before {
	content: "\e794";
}
.imoon-list:before {
	content: "\e795";
}
.imoon-indent-left:before {
	content: "\e796";
}
.imoon-indent-right:before {
	content: "\e797";
}
.imoon-facetime-video:before {
	content: "\e798";
}
.imoon-picture:before {
	content: "\e799";
}
.imoon-pencil:before {
	content: "\e79a";
}
.imoon-map-marker:before {
	content: "\e79b";
}
.imoon-adjust:before {
	content: "\e79c";
}
.imoon-tint:before {
	content: "\e79d";
}
.imoon-edit:before {
	content: "\e79e";
}
.imoon-share:before {
	content: "\e79f";
}
.imoon-check:before {
	content: "\e7a0";
}
.imoon-move:before {
	content: "\e7a1";
}
.imoon-step-backward:before {
	content: "\e7a2";
}
.imoon-fast-backward:before {
	content: "\e7a3";
}
.imoon-backward:before {
	content: "\e7a4";
}
.imoon-play:before {
	content: "\e7a5";
}
.imoon-pause:before {
	content: "\e7a6";
}
.imoon-stop:before {
	content: "\e7a7";
}
.imoon-forward:before {
	content: "\e7a8";
}
.imoon-fast-forward:before {
	content: "\e7a9";
}
.imoon-step-forward:before {
	content: "\e7aa";
}
.imoon-eject:before {
	content: "\e7ab";
}
.imoon-chevron-left:before {
	content: "\e7ac";
}
.imoon-chevron-right:before {
	content: "\e7ad";
}
.imoon-plus-sign:before {
	content: "\e7ae";
}
.imoon-minus-sign:before {
	content: "\e7af";
}
.imoon-remove-sign:before {
	content: "\e7b0";
}
.imoon-ok-sign:before {
	content: "\e7b1";
}
.imoon-question-sign:before {
	content: "\e7b2";
}
.imoon-info-sign:before {
	content: "\e7b3";
}
.imoon-screenshot:before {
	content: "\e7b4";
}
.imoon-remove-circle:before {
	content: "\e7b5";
}
.imoon-ok-circle:before {
	content: "\e7b6";
}
.imoon-ban-circle:before {
	content: "\e7b7";
}
.imoon-arrow-left:before {
	content: "\e7b8";
}
.imoon-arrow-right:before {
	content: "\e7b9";
}
.imoon-arrow-up:before {
	content: "\e7ba";
}
.imoon-arrow-down:before {
	content: "\e7bb";
}
.imoon-share-alt:before {
	content: "\e7bc";
}
.imoon-resize-full:before {
	content: "\e7bd";
}
.imoon-resize-small:before {
	content: "\e7be";
}
.imoon-plus:before {
	content: "\e7bf";
}
.imoon-minus:before {
	content: "\e7c0";
}
.imoon-asterisk:before {
	content: "\e7c1";
}
.imoon-exclamation-sign:before {
	content: "\e7c2";
}
.imoon-gift:before {
	content: "\e7c3";
}
.imoon-leaf:before {
	content: "\e7c4";
}
.imoon-fire:before {
	content: "\e7c5";
}
.imoon-eye-open:before {
	content: "\e7c6";
}
.imoon-eye-close:before {
	content: "\e7c7";
}
.imoon-warning-sign:before {
	content: "\e7c8";
}
.imoon-plane:before {
	content: "\e7c9";
}
.imoon-calendar:before {
	content: "\e7ca";
}
.imoon-random:before {
	content: "\e7cb";
}
.imoon-comment:before {
	content: "\e7cc";
}
.imoon-magnet:before {
	content: "\e7cd";
}
.imoon-chevron-down:before {
	content: "\e7cf";
}
.imoon-retweet:before {
	content: "\e7d0";
}
.imoon-shopping-cart:before {
	content: "\e7d1";
}
.imoon-folder-close:before {
	content: "\e7d2";
}
.imoon-folder-open:before {
	content: "\e7d3";
}
.imoon-resize-vertical:before {
	content: "\e7d4";
}
.imoon-resize-horizontal:before {
	content: "\e7d5";
}
.imoon-bar-chart:before {
	content: "\e7d6";
}
.imoon-twitter-sign:before {
	content: "\e7d7";
}
.imoon-facebook-sign:before {
	content: "\e7d8";
}
.imoon-camera-retro:before {
	content: "\e7d9";
}
.imoon-key:before {
	content: "\e7da";
}
.imoon-cogs:before {
	content: "\e7db";
}
.imoon-comments:before {
	content: "\e7dc";
}
.imoon-thumbs-up:before {
	content: "\e7dd";
}
.imoon-thumbs-down:before {
	content: "\e7de";
}
.imoon-star-half:before {
	content: "\e7df";
}
.imoon-heart-empty:before {
	content: "\e7e0";
}
.imoon-signout:before {
	content: "\e7e1";
}
.imoon-linkedin-sign:before {
	content: "\e7e2";
}
.imoon-pushpin:before {
	content: "\e7e3";
}
.imoon-external-link:before {
	content: "\e7e4";
}
.imoon-signin:before {
	content: "\e7e5";
}
.imoon-trophy:before {
	content: "\e7e6";
}
.imoon-github-sign:before {
	content: "\e7e7";
}
.imoon-upload-alt:before {
	content: "\e7e8";
}
.imoon-lemon:before {
	content: "\e7e9";
}
.imoon-phone:before {
	content: "\e7ea";
}
.imoon-check-empty:before {
	content: "\e7eb";
}
.imoon-bookmark-empty:before {
	content: "\e7ec";
}
.imoon-phone-sign:before {
	content: "\e7ed";
}
.imoon-twitter:before {
	content: "\e7ee";
}
.imoon-facebook:before {
	content: "\e7ef";
}
.imoon-github:before {
	content: "\e7f0";
}
.imoon-unlock:before {
	content: "\e7f1";
}
.imoon-credit:before {
	content: "\e7f2";
}
.imoon-rss:before {
	content: "\e7f3";
}
.imoon-hdd:before {
	content: "\e7f4";
}
.imoon-bullhorn:before {
	content: "\e7f5";
}
.imoon-bell:before {
	content: "\e7f6";
}
.imoon-certificate:before {
	content: "\e7f7";
}
.imoon-hand-right:before {
	content: "\e7f8";
}
.imoon-hand-left:before {
	content: "\e7f9";
}
.imoon-hand-up:before {
	content: "\e7fa";
}
.imoon-hand-down:before {
	content: "\e7fb";
}
.imoon-circle-arrow-left:before {
	content: "\e7fc";
}
.imoon-circle-arrow-right:before {
	content: "\e7fd";
}
.imoon-circle-arrow-up:before {
	content: "\e7fe";
}
.imoon-circle-arrow-down:before {
	content: "\e7ff";
}
.imoon-globe:before {
	content: "\e800";
}
.imoon-wrench:before {
	content: "\e801";
}
.imoon-tasks:before {
	content: "\e802";
}
.imoon-filter:before {
	content: "\e803";
}
.imoon-briefcase:before {
	content: "\e804";
}
.imoon-fullscreen:before {
	content: "\e805";
}
.imoon-group:before {
	content: "\e806";
}
.imoon-link:before {
	content: "\e807";
}
.imoon-cloud:before {
	content: "\e808";
}
.imoon-beaker:before {
	content: "\e809";
}
.imoon-cut:before {
	content: "\e80a";
}
.imoon-copy:before {
	content: "\e80b";
}
.imoon-paper-clip:before {
	content: "\e80c";
}
.imoon-save:before {
	content: "\e80d";
}
.imoon-sign-blank:before {
	content: "\e80e";
}
.imoon-reorder:before {
	content: "\e80f";
}
.imoon-list-ul:before {
	content: "\e810";
}
.imoon-list-ol:before {
	content: "\e811";
}
.imoon-strikethrough:before {
	content: "\e812";
}
.imoon-underline:before {
	content: "\e813";
}
.imoon-table:before {
	content: "\e814";
}
.imoon-magic:before {
	content: "\e815";
}
.imoon-truck:before {
	content: "\e816";
}
.imoon-pinterest:before {
	content: "\e817";
}
.imoon-pinterest-sign:before {
	content: "\e818";
}
.imoon-google-plus-sign:before {
	content: "\e819";
}
.imoon-google-plus:before {
	content: "\e81a";
}
.imoon-money:before {
	content: "\e81b";
}
.imoon-caret-down:before {
	content: "\e81c";
}
.imoon-caret-up:before {
	content: "\e81d";
}
.imoon-caret-left:before {
	content: "\e81e";
}
.imoon-caret-right:before {
	content: "\e81f";
}
.imoon-columns:before {
	content: "\e820";
}
.imoon-sort:before {
	content: "\e821";
}
.imoon-sort-down:before {
	content: "\e822";
}
.imoon-sort-up:before {
	content: "\e823";
}
.imoon-envelope-alt:before {
	content: "\e824";
}
.imoon-linkedin:before {
	content: "\e825";
}
.imoon-undo:before {
	content: "\e826";
}
.imoon-legal:before {
	content: "\e827";
}
.imoon-dashboard:before {
	content: "\e828";
}
.imoon-comment-alt:before {
	content: "\e829";
}
.imoon-comments-alt:before {
	content: "\e82a";
}
.imoon-bolt:before {
	content: "\e82b";
}
.imoon-sitemap:before {
	content: "\e82c";
}
.imoon-umbrella:before {
	content: "\e82d";
}
.imoon-paste:before {
	content: "\e82e";
}
.imoon-lightbulb:before {
	content: "\e82f";
}
.imoon-exchange:before {
	content: "\e830";
}
.imoon-cloud-download:before {
	content: "\e831";
}
.imoon-cloud-upload:before {
	content: "\e832";
}
.imoon-user-md:before {
	content: "\e833";
}
.imoon-stethoscope:before {
	content: "\e834";
}
.imoon-suitcase:before {
	content: "\e835";
}
.imoon-bell-alt:before {
	content: "\e836";
}
.imoon-coffee:before {
	content: "\e837";
}
.imoon-food:before {
	content: "\e838";
}
.imoon-file-alt:before {
	content: "\e839";
}
.imoon-building:before {
	content: "\e83a";
}
.imoon-hospital:before {
	content: "\e83b";
}
.imoon-ambulance:before {
	content: "\e83c";
}
.imoon-medkit:before {
	content: "\e83d";
}
.imoon-fighter-jet:before {
	content: "\e83e";
}
.imoon-beer:before {
	content: "\e83f";
}
.imoon-h-sign:before {
	content: "\e840";
}
.imoon-plus-sign2:before {
	content: "\e841";
}
.imoon-double-angle-left:before {
	content: "\e842";
}
.imoon-double-angle-right:before {
	content: "\e843";
}
.imoon-double-angle-up:before {
	content: "\e844";
}
.imoon-double-angle-down:before {
	content: "\e845";
}
.imoon-angle-left:before {
	content: "\e846";
}
.imoon-angle-right:before {
	content: "\e847";
}
.imoon-angle-up:before {
	content: "\e848";
}
.imoon-angle-down:before {
	content: "\e849";
}
.imoon-desktop:before {
	content: "\e84a";
}
.imoon-laptop:before {
	content: "\e84b";
}
.imoon-tablet:before {
	content: "\e84c";
}
.imoon-mobile:before {
	content: "\e84d";
}
.imoon-circle-blank:before {
	content: "\e84e";
}
.imoon-quote-left:before {
	content: "\e84f";
}
.imoon-quote-right:before {
	content: "\e850";
}
.imoon-spinner:before {
	content: "\e851";
}
.imoon-circle:before {
	content: "\e852";
}
.imoon-reply:before {
	content: "\e853";
}
.imoon-github-alt:before {
	content: "\e854";
}
.imoon-folder-close-alt:before {
	content: "\e855";
}
.imoon-folder-open-alt:before {
	content: "\e856";
}
.imoon-expand-alt:before {
	content: "\e857";
}
.imoon-collapse-alt:before {
	content: "\e858";
}
.imoon-smile:before {
	content: "\e859";
}
.imoon-frown:before {
	content: "\e85a";
}
.imoon-meh:before {
	content: "\e85b";
}
.imoon-gamepad:before {
	content: "\e85c";
}
.imoon-keyboard:before {
	content: "\e85d";
}
.imoon-flag-alt:before {
	content: "\e85e";
}
.imoon-flag-checkered:before {
	content: "\e85f";
}
.imoon-terminal:before {
	content: "\e860";
}
.imoon-code:before {
	content: "\e861";
}
.imoon-reply-all:before {
	content: "\e862";
}
.imoon-star-half-full:before {
	content: "\e863";
}
.imoon-location-arrow:before {
	content: "\e864";
}
.imoon-crop:before {
	content: "\e865";
}
.imoon-code-fork:before {
	content: "\e866";
}
.imoon-unlink:before {
	content: "\e867";
}
.imoon-question:before {
	content: "\e868";
}
.imoon-info:before {
	content: "\e869";
}
.imoon-exclamation:before {
	content: "\e86a";
}
.imoon-superscript:before {
	content: "\e86b";
}
.imoon-subscript:before {
	content: "\e86c";
}
.imoon-eraser:before {
	content: "\e86d";
}
.imoon-puzzle:before {
	content: "\e86e";
}
.imoon-microphone:before {
	content: "\e86f";
}
.imoon-microphone-off:before {
	content: "\e870";
}
.imoon-shield:before {
	content: "\e871";
}
.imoon-calendar-empty:before {
	content: "\e872";
}
.imoon-fire-extinguisher:before {
	content: "\e873";
}
.imoon-rocket:before {
	content: "\e874";
}
.imoon-maxcdn:before {
	content: "\e875";
}
.imoon-chevron-sign-left:before {
	content: "\e876";
}
.imoon-chevron-sign-right:before {
	content: "\e877";
}
.imoon-chevron-sign-up:before {
	content: "\e878";
}
.imoon-chevron-sign-down:before {
	content: "\e879";
}
.imoon-html5:before {
	content: "\e87a";
}
.imoon-css3:before {
	content: "\e87b";
}
.imoon-anchor:before {
	content: "\e87c";
}
.imoon-unlock-alt:before {
	content: "\e87d";
}
.imoon-bullseye:before {
	content: "\e87e";
}
.imoon-ellipsis-horizontal:before {
	content: "\e87f";
}
.imoon-ellipsis-vertical:before {
	content: "\e880";
}
.imoon-rss-sign:before {
	content: "\e881";
}
.imoon-play-sign:before {
	content: "\e882";
}
.imoon-ticket:before {
	content: "\e883";
}
.imoon-minus-sign-alt:before {
	content: "\e884";
}
.imoon-check-minus:before {
	content: "\e885";
}
.imoon-level-up:before {
	content: "\e886";
}
.imoon-level-down:before {
	content: "\e887";
}
.imoon-check-sign:before {
	content: "\e888";
}
.imoon-edit-sign:before {
	content: "\e889";
}
.imoon-external-link-sign:before {
	content: "\e88a";
}
.imoon-share-sign:before {
	content: "\e88b";
}
.imoon-compass:before {
	content: "\e88c";
}
.imoon-collapse:before {
	content: "\e88d";
}
.imoon-collapse-top:before {
	content: "\e88e";
}
.imoon-expand:before {
	content: "\e88f";
}
.imoon-euro:before {
	content: "\e890";
}
.imoon-gbp:before {
	content: "\e891";
}
.imoon-dollar:before {
	content: "\e892";
}
.imoon-rupee:before {
	content: "\e893";
}
.imoon-yen:before {
	content: "\e894";
}
.imoon-renminbi:before {
	content: "\e895";
}
.imoon-won:before {
	content: "\e896";
}
.imoon-bitcoin:before {
	content: "\e897";
}
.imoon-file2:before {
	content: "\e898";
}
.imoon-file-text:before {
	content: "\e899";
}
.imoon-sort-by-alphabet:before {
	content: "\e89a";
}
.imoon-sort-by-alphabet-alt:before {
	content: "\e89b";
}
.imoon-sort-by-attributes:before {
	content: "\e89c";
}
.imoon-sort-by-attributes-alt:before {
	content: "\e89d";
}
.imoon-sort-by-order:before {
	content: "\e89e";
}
.imoon-sort-by-order-alt:before {
	content: "\e89f";
}
.imoon-thumbs-up2:before {
	content: "\e8a0";
}
.imoon-thumbs-down2:before {
	content: "\e8a1";
}
.imoon-youtube-sign:before {
	content: "\e8a2";
}
.imoon-youtube:before {
	content: "\e8a3";
}
.imoon-xing:before {
	content: "\e8a4";
}
.imoon-xing-sign:before {
	content: "\e8a5";
}
.imoon-youtube-play:before {
	content: "\e8a6";
}
.imoon-dropbox:before {
	content: "\e8a7";
}
.imoon-stackexchange:before {
	content: "\e8a8";
}
.imoon-instagram:before {
	content: "\e8a9";
}
.imoon-flickr:before {
	content: "\e8aa";
}
.imoon-adn:before {
	content: "\e8ab";
}
.imoon-bitbucket:before {
	content: "\e8ac";
}
.imoon-bitbucket-sign:before {
	content: "\e8ad";
}
.imoon-tumblr:before {
	content: "\e8ae";
}
.imoon-tumblr-sign:before {
	content: "\e8af";
}
.imoon-long-arrow-down:before {
	content: "\e8b0";
}
.imoon-long-arrow-up:before {
	content: "\e8b1";
}
.imoon-long-arrow-left:before {
	content: "\e8b2";
}
.imoon-long-arrow-right:before {
	content: "\e8b3";
}
.imoon-apple:before {
	content: "\e8b4";
}
.imoon-windows:before {
	content: "\e8b5";
}
.imoon-android:before {
	content: "\e8b6";
}
.imoon-linux:before {
	content: "\e8b7";
}
.imoon-dribbble:before {
	content: "\e8b8";
}
.imoon-skype:before {
	content: "\e8b9";
}
.imoon-foursquare:before {
	content: "\e8ba";
}
.imoon-trello:before {
	content: "\e8bb";
}
.imoon-female:before {
	content: "\e8bc";
}
.imoon-male:before {
	content: "\e8bd";
}
.imoon-gittip:before {
	content: "\e8be";
}
.imoon-sun:before {
	content: "\e8bf";
}
.imoon-moon:before {
	content: "\e8c0";
}
.imoon-archive:before {
	content: "\e8c1";
}
.imoon-bug:before {
	content: "\e8c2";
}
.imoon-vk:before {
	content: "\e8c3";
}
.imoon-weibo:before {
	content: "\e8c4";
}
.imoon-renren:before {
	content: "\e8c5";
}
.imoon-chevron-up:before {
	content: "\e7ce";
}
.imoon-home:before {
	content: "\e94d";
}
.imoon-home2:before {
	content: "\e94e";
}
.imoon-home3:before {
	content: "\e94f";
}
.imoon-office:before {
	content: "\e950";
}
.imoon-newspaper:before {
	content: "\e951";
}
.imoon-pencil:before {
	content: "\e952";
}
.imoon-pencil2:before {
	content: "\e953";
}
.imoon-quill:before {
	content: "\e954";
}
.imoon-pen:before {
	content: "\e955";
}
.imoon-blog:before {
	content: "\e956";
}
.imoon-droplet:before {
	content: "\e957";
}
.imoon-paint-format:before {
	content: "\e958";
}
.imoon-image:before {
	content: "\e959";
}
.imoon-image2:before {
	content: "\e95a";
}
.imoon-images:before {
	content: "\e95b";
}
.imoon-camera:before {
	content: "\e95c";
}
.imoon-music:before {
	content: "\e95d";
}
.imoon-headphones:before {
	content: "\e95e";
}
.imoon-play:before {
	content: "\e95f";
}
.imoon-film:before {
	content: "\e960";
}
.imoon-camera2:before {
	content: "\e961";
}
.imoon-dice:before {
	content: "\e962";
}
.imoon-pacman:before {
	content: "\e963";
}
.imoon-spades:before {
	content: "\e964";
}
.imoon-clubs:before {
	content: "\e965";
}
.imoon-diamonds:before {
	content: "\e966";
}
.imoon-pawn:before {
	content: "\e967";
}
.imoon-bullhorn:before {
	content: "\e968";
}
.imoon-connection:before {
	content: "\e969";
}
.imoon-podcast:before {
	content: "\e96a";
}
.imoon-feed:before {
	content: "\e96b";
}
.imoon-book:before {
	content: "\e96c";
}
.imoon-books:before {
	content: "\e96d";
}
.imoon-library:before {
	content: "\e96e";
}
.imoon-file:before {
	content: "\e96f";
}
.imoon-profile:before {
	content: "\e970";
}
.imoon-file2:before {
	content: "\e971";
}
.imoon-file3:before {
	content: "\e972";
}
.imoon-file4:before {
	content: "\e973";
}
.imoon-copy:before {
	content: "\e974";
}
.imoon-copy2:before {
	content: "\e975";
}
.imoon-copy3:before {
	content: "\e976";
}
.imoon-paste:before {
	content: "\e977";
}
.imoon-paste2:before {
	content: "\e978";
}
.imoon-paste3:before {
	content: "\e979";
}
.imoon-stack:before {
	content: "\e97a";
}
.imoon-folder:before {
	content: "\e97b";
}
.imoon-folder-open:before {
	content: "\e97c";
}
.imoon-tag:before {
	content: "\e97d";
}
.imoon-tags:before {
	content: "\e97e";
}
.imoon-barcode:before {
	content: "\e97f";
}
.imoon-qrcode:before {
	content: "\e980";
}
.imoon-ticket:before {
	content: "\e981";
}
.imoon-cart:before {
	content: "\e982";
}
.imoon-cart2:before {
	content: "\e983";
}
.imoon-cart3:before {
	content: "\e984";
}
.imoon-coin:before {
	content: "\e985";
}
.imoon-credit:before {
	content: "\e986";
}
.imoon-calculate:before {
	content: "\e987";
}
.imoon-support:before {
	content: "\e988";
}
.imoon-phone:before {
	content: "\e989";
}
.imoon-phone-hang-up:before {
	content: "\e98a";
}
.imoon-address-book:before {
	content: "\e98b";
}
.imoon-notebook:before {
	content: "\e98c";
}
.imoon-envelop:before {
	content: "\e98d";
}
.imoon-pushpin:before {
	content: "\e98e";
}
.imoon-location:before {
	content: "\e98f";
}
.imoon-location2:before {
	content: "\e990";
}
.imoon-compass:before {
	content: "\e991";
}
.imoon-map:before {
	content: "\e992";
}
.imoon-map2:before {
	content: "\e993";
}
.imoon-history:before {
	content: "\e994";
}
.imoon-clock:before {
	content: "\e995";
}
.imoon-clock2:before {
	content: "\e996";
}
.imoon-alarm:before {
	content: "\e997";
}
.imoon-alarm2:before {
	content: "\e998";
}
.imoon-bell:before {
	content: "\e999";
}
.imoon-stopwatch:before {
	content: "\e99a";
}
.imoon-calendar:before {
	content: "\e99b";
}
.imoon-calendar2:before {
	content: "\e99c";
}
.imoon-print:before {
	content: "\e99d";
}
.imoon-keyboard:before {
	content: "\e99e";
}
.imoon-screen:before {
	content: "\e99f";
}
.imoon-laptop:before {
	content: "\e9a0";
}
.imoon-mobile:before {
	content: "\e9a1";
}
.imoon-mobile2:before {
	content: "\e9a2";
}
.imoon-tablet:before {
	content: "\e9a3";
}
.imoon-tv:before {
	content: "\e9a4";
}
.imoon-cabinet:before {
	content: "\e9a5";
}
.imoon-drawer:before {
	content: "\e9a6";
}
.imoon-drawer2:before {
	content: "\e9a7";
}
.imoon-drawer3:before {
	content: "\e9a8";
}
.imoon-box-add:before {
	content: "\e9a9";
}
.imoon-box-remove:before {
	content: "\e9aa";
}
.imoon-download:before {
	content: "\e9ab";
}
.imoon-upload:before {
	content: "\e9ac";
}
.imoon-disk:before {
	content: "\e9ad";
}
.imoon-storage:before {
	content: "\e9ae";
}
.imoon-undo:before {
	content: "\e9af";
}
.imoon-redo:before {
	content: "\e9b0";
}
.imoon-flip:before {
	content: "\e9b1";
}
.imoon-flip2:before {
	content: "\e9b2";
}
.imoon-undo2:before {
	content: "\e9b3";
}
.imoon-redo2:before {
	content: "\e9b4";
}
.imoon-forward:before {
	content: "\e9b5";
}
.imoon-reply:before {
	content: "\e9b6";
}
.imoon-bubble:before {
	content: "\e9b7";
}
.imoon-bubbles:before {
	content: "\e9b8";
}
.imoon-bubbles2:before {
	content: "\e9b9";
}
.imoon-bubble2:before {
	content: "\e9ba";
}
.imoon-bubbles3:before {
	content: "\e9bb";
}
.imoon-bubbles4:before {
	content: "\e9bc";
}
.imoon-user:before {
	content: "\e9bd";
}
.imoon-users:before {
	content: "\e9be";
}
.imoon-user2:before {
	content: "\e9bf";
}
.imoon-users2:before {
	content: "\e9c0";
}
.imoon-user3:before {
	content: "\e9c1";
}
.imoon-user4:before {
	content: "\e9c2";
}
.imoon-quotes-left:before {
	content: "\e9c3";
}
.imoon-busy:before {
	content: "\e9c4";
}
.imoon-spinner:before {
	content: "\e9c5";
}
.imoon-spinner2:before {
	content: "\e9c6";
}
.imoon-spinner3:before {
	content: "\e9c7";
}
.imoon-spinner4:before {
	content: "\e9c8";
}
.imoon-spinner5:before {
	content: "\e9c9";
}
.imoon-spinner6:before {
	content: "\e9ca";
}
.imoon-binoculars:before {
	content: "\e9cb";
}
.imoon-search:before {
	content: "\e9cc";
}
.imoon-zoom-in:before {
	content: "\e9cd";
}
.imoon-zoom-out:before {
	content: "\e9ce";
}
.imoon-expand:before {
	content: "\e9cf";
}
.imoon-contract:before {
	content: "\e9d0";
}
.imoon-expand2:before {
	content: "\e9d1";
}
.imoon-contract2:before {
	content: "\e9d2";
}
.imoon-key:before {
	content: "\e9d3";
}
.imoon-key2:before {
	content: "\e9d4";
}
.imoon-lock:before {
	content: "\e9d5";
}
.imoon-lock2:before {
	content: "\e9d6";
}
.imoon-unlocked:before {
	content: "\e9d7";
}
.imoon-wrench:before {
	content: "\e9d8";
}
.imoon-settings:before {
	content: "\e9d9";
}
.imoon-equalizer:before {
	content: "\e9da";
}
.imoon-cog:before {
	content: "\e9db";
}
.imoon-cogs:before {
	content: "\e9dc";
}
.imoon-cog2:before {
	content: "\e9dd";
}
.imoon-hammer:before {
	content: "\e9de";
}
.imoon-wand:before {
	content: "\e9df";
}
.imoon-aid:before {
	content: "\e9e0";
}
.imoon-bug:before {
	content: "\e9e1";
}
.imoon-pie:before {
	content: "\e9e2";
}
.imoon-stats:before {
	content: "\e9e3";
}
.imoon-bars:before {
	content: "\e9e4";
}
.imoon-bars2:before {
	content: "\e9e5";
}
.imoon-gift:before {
	content: "\e9e6";
}
.imoon-trophy:before {
	content: "\e9e7";
}
.imoon-glass:before {
	content: "\e9e8";
}
.imoon-mug:before {
	content: "\e9e9";
}
.imoon-food:before {
	content: "\e9ea";
}
.imoon-leaf:before {
	content: "\e9eb";
}
.imoon-rocket:before {
	content: "\e9ec";
}
.imoon-meter:before {
	content: "\e9ed";
}
.imoon-meter2:before {
	content: "\e9ee";
}
.imoon-dashboard:before {
	content: "\e9ef";
}
.imoon-hammer2:before {
	content: "\e9f0";
}
.imoon-fire:before {
	content: "\e9f1";
}
.imoon-lab:before {
	content: "\e9f2";
}
.imoon-magnet:before {
	content: "\e9f3";
}
.imoon-remove:before {
	content: "\e9f4";
}
.imoon-remove2:before {
	content: "\e9f5";
}
.imoon-briefcase:before {
	content: "\e9f6";
}
.imoon-airplane:before {
	content: "\e9f7";
}
.imoon-truck:before {
	content: "\e9f8";
}
.imoon-road:before {
	content: "\e9f9";
}
.imoon-accessibility:before {
	content: "\e9fa";
}
.imoon-target:before {
	content: "\e9fb";
}
.imoon-shield:before {
	content: "\e9fc";
}
.imoon-lightning:before {
	content: "\e9fd";
}
.imoon-switch:before {
	content: "\e9fe";
}
.imoon-power-cord:before {
	content: "\e9ff";
}
.imoon-signup:before {
	content: "\ea00";
}
.imoon-list:before {
	content: "\ea01";
}
.imoon-list2:before {
	content: "\ea02";
}
.imoon-numbered-list:before {
	content: "\ea03";
}
.imoon-menu:before {
	content: "\ea04";
}
.imoon-menu2:before {
	content: "\ea05";
}
.imoon-tree:before {
	content: "\ea06";
}
.imoon-cloud:before {
	content: "\ea07";
}
.imoon-cloud-download:before {
	content: "\ea08";
}
.imoon-cloud-upload:before {
	content: "\ea09";
}
.imoon-download2:before {
	content: "\ea0a";
}
.imoon-upload2:before {
	content: "\ea0b";
}
.imoon-download3:before {
	content: "\ea0c";
}
.imoon-upload3:before {
	content: "\ea0d";
}
.imoon-globe:before {
	content: "\ea0e";
}
.imoon-earth:before {
	content: "\ea0f";
}
.imoon-link:before {
	content: "\ea10";
}
.imoon-flag:before {
	content: "\ea11";
}
.imoon-attachment:before {
	content: "\ea12";
}
.imoon-eye:before {
	content: "\ea13";
}
.imoon-eye-blocked:before {
	content: "\ea14";
}
.imoon-eye2:before {
	content: "\ea15";
}
.imoon-bookmark:before {
	content: "\ea16";
}
.imoon-bookmarks:before {
	content: "\ea17";
}
.imoon-brightness-medium:before {
	content: "\ea18";
}
.imoon-brightness-contrast:before {
	content: "\ea19";
}
.imoon-contrast:before {
	content: "\ea1a";
}
.imoon-star:before {
	content: "\ea1b";
}
.imoon-star2:before {
	content: "\ea1c";
}
.imoon-star3:before {
	content: "\ea1d";
}
.imoon-heart:before {
	content: "\ea1e";
}
.imoon-heart2:before {
	content: "\ea1f";
}
.imoon-heart-broken:before {
	content: "\ea20";
}
.imoon-thumbs-up:before {
	content: "\ea21";
}
.imoon-thumbs-up2:before {
	content: "\ea22";
}
.imoon-happy:before {
	content: "\ea23";
}
.imoon-happy2:before {
	content: "\ea24";
}
.imoon-smiley:before {
	content: "\ea25";
}
.imoon-smiley2:before {
	content: "\ea26";
}
.imoon-tongue:before {
	content: "\ea27";
}
.imoon-tongue2:before {
	content: "\ea28";
}
.imoon-sad:before {
	content: "\ea29";
}
.imoon-sad2:before {
	content: "\ea2a";
}
.imoon-wink:before {
	content: "\ea2b";
}
.imoon-wink2:before {
	content: "\ea2c";
}
.imoon-grin:before {
	content: "\ea2d";
}
.imoon-grin2:before {
	content: "\ea2e";
}
.imoon-cool:before {
	content: "\ea2f";
}
.imoon-cool2:before {
	content: "\ea30";
}
.imoon-angry:before {
	content: "\ea31";
}
.imoon-angry2:before {
	content: "\ea32";
}
.imoon-evil:before {
	content: "\ea33";
}
.imoon-evil2:before {
	content: "\ea34";
}
.imoon-shocked:before {
	content: "\ea35";
}
.imoon-shocked2:before {
	content: "\ea36";
}
.imoon-confused:before {
	content: "\ea37";
}
.imoon-confused2:before {
	content: "\ea38";
}
.imoon-neutral:before {
	content: "\ea39";
}
.imoon-neutral2:before {
	content: "\ea3a";
}
.imoon-wondering:before {
	content: "\ea3b";
}
.imoon-wondering2:before {
	content: "\ea3c";
}
.imoon-point-up:before {
	content: "\ea3d";
}
.imoon-point-right:before {
	content: "\ea3e";
}
.imoon-point-down:before {
	content: "\ea3f";
}
.imoon-point-left:before {
	content: "\ea40";
}
.imoon-warning:before {
	content: "\ea41";
}
.imoon-notification:before {
	content: "\ea42";
}
.imoon-question:before {
	content: "\ea43";
}
.imoon-info:before {
	content: "\ea44";
}
.imoon-info2:before {
	content: "\ea45";
}
.imoon-blocked:before {
	content: "\ea46";
}
.imoon-cancel-circle:before {
	content: "\ea47";
}
.imoon-checkmark-circle:before {
	content: "\ea48";
}
.imoon-spam:before {
	content: "\ea49";
}
.imoon-close:before {
	content: "\ea4a";
}
.imoon-checkmark:before {
	content: "\ea4b";
}
.imoon-checkmark2:before {
	content: "\ea4c";
}
.imoon-spell-check:before {
	content: "\ea4d";
}
.imoon-minus:before {
	content: "\ea4e";
}
.imoon-plus:before {
	content: "\ea4f";
}
.imoon-enter:before {
	content: "\ea50";
}
.imoon-exit:before {
	content: "\ea51";
}
.imoon-play2:before {
	content: "\ea52";
}
.imoon-pause:before {
	content: "\ea53";
}
.imoon-stop:before {
	content: "\ea54";
}
.imoon-backward:before {
	content: "\ea55";
}
.imoon-forward2:before {
	content: "\ea56";
}
.imoon-play3:before {
	content: "\ea57";
}
.imoon-pause2:before {
	content: "\ea58";
}
.imoon-stop2:before {
	content: "\ea59";
}
.imoon-backward2:before {
	content: "\ea5a";
}
.imoon-forward3:before {
	content: "\ea5b";
}
.imoon-first:before {
	content: "\ea5c";
}
.imoon-last:before {
	content: "\ea5d";
}
.imoon-previous:before {
	content: "\ea5e";
}
.imoon-next:before {
	content: "\ea5f";
}
.imoon-eject:before {
	content: "\ea60";
}
.imoon-volume-high:before {
	content: "\ea61";
}
.imoon-volume-medium:before {
	content: "\ea62";
}
.imoon-volume-low:before {
	content: "\ea63";
}
.imoon-volume-mute:before {
	content: "\ea64";
}
.imoon-volume-mute2:before {
	content: "\ea65";
}
.imoon-volume-increase:before {
	content: "\ea66";
}
.imoon-volume-decrease:before {
	content: "\ea67";
}
.imoon-loop:before {
	content: "\ea68";
}
.imoon-loop2:before {
	content: "\ea69";
}
.imoon-loop3:before {
	content: "\ea6a";
}
.imoon-shuffle:before {
	content: "\ea6b";
}
.imoon-arrow-up-left:before {
	content: "\ea6c";
}
.imoon-arrow-up:before {
	content: "\ea6d";
}
.imoon-arrow-up-right:before {
	content: "\ea6e";
}
.imoon-arrow-right:before {
	content: "\ea6f";
}
.imoon-arrow-down-right:before {
	content: "\ea70";
}
.imoon-arrow-down:before {
	content: "\ea71";
}
.imoon-arrow-down-left:before {
	content: "\ea72";
}
.imoon-arrow-left:before {
	content: "\ea73";
}
.imoon-arrow-up-left2:before {
	content: "\ea74";
}
.imoon-arrow-up2:before {
	content: "\ea75";
}
.imoon-arrow-up-right2:before {
	content: "\ea76";
}
.imoon-arrow-right2:before {
	content: "\ea77";
}
.imoon-arrow-down-right2:before {
	content: "\ea78";
}
.imoon-arrow-down2:before {
	content: "\ea79";
}
.imoon-arrow-down-left2:before {
	content: "\ea7a";
}
.imoon-arrow-left2:before {
	content: "\ea7b";
}
.imoon-arrow-up-left3:before {
	content: "\ea7c";
}
.imoon-arrow-up3:before {
	content: "\ea7d";
}
.imoon-arrow-up-right3:before {
	content: "\ea7e";
}
.imoon-arrow-right3:before {
	content: "\ea7f";
}
.imoon-arrow-down-right3:before {
	content: "\ea80";
}
.imoon-arrow-down3:before {
	content: "\ea81";
}
.imoon-arrow-down-left3:before {
	content: "\ea82";
}
.imoon-arrow-left3:before {
	content: "\ea83";
}
.imoon-tab:before {
	content: "\ea84";
}
.imoon-checkbox-checked:before {
	content: "\ea85";
}
.imoon-checkbox-unchecked:before {
	content: "\ea86";
}
.imoon-checkbox-partial:before {
	content: "\ea87";
}
.imoon-radio-checked:before {
	content: "\ea88";
}
.imoon-radio-unchecked:before {
	content: "\ea89";
}
.imoon-crop:before {
	content: "\ea8a";
}
.imoon-scissors:before {
	content: "\ea8b";
}
.imoon-filter:before {
	content: "\ea8c";
}
.imoon-filter2:before {
	content: "\ea8d";
}
.imoon-font:before {
	content: "\ea8e";
}
.imoon-text-height:before {
	content: "\ea8f";
}
.imoon-text-width:before {
	content: "\ea90";
}
.imoon-bold:before {
	content: "\ea91";
}
.imoon-underline:before {
	content: "\ea92";
}
.imoon-italic:before {
	content: "\ea93";
}
.imoon-strikethrough:before {
	content: "\ea94";
}
.imoon-omega:before {
	content: "\ea95";
}
.imoon-sigma:before {
	content: "\ea96";
}
.imoon-table:before {
	content: "\ea97";
}
.imoon-table2:before {
	content: "\ea98";
}
.imoon-insert-template:before {
	content: "\ea99";
}
.imoon-pilcrow:before {
	content: "\ea9a";
}
.imoon-left-toright:before {
	content: "\ea9b";
}
.imoon-right-toleft:before {
	content: "\ea9c";
}
.imoon-paragraph-left:before {
	content: "\ea9d";
}
.imoon-paragraph-center:before {
	content: "\ea9e";
}
.imoon-paragraph-right:before {
	content: "\ea9f";
}
.imoon-paragraph-justify:before {
	content: "\eaa0";
}
.imoon-paragraph-left2:before {
	content: "\eaa1";
}
.imoon-paragraph-center2:before {
	content: "\eaa2";
}
.imoon-paragraph-right2:before {
	content: "\eaa3";
}
.imoon-paragraph-justify2:before {
	content: "\eaa4";
}
.imoon-indent-increase:before {
	content: "\eaa5";
}
.imoon-indent-decrease:before {
	content: "\eaa6";
}
.imoon-new-tab:before {
	content: "\eaa7";
}
.imoon-embed:before {
	content: "\eaa8";
}
.imoon-code:before {
	content: "\eaa9";
}
.imoon-console:before {
	content: "\eaaa";
}
.imoon-share:before {
	content: "\eaab";
}
.imoon-mail:before {
	content: "\eaac";
}
.imoon-mail2:before {
	content: "\eaad";
}
.imoon-mail3:before {
	content: "\eaae";
}
.imoon-mail4:before {
	content: "\eaaf";
}
.imoon-google:before {
	content: "\eab0";
}
.imoon-google-plus:before {
	content: "\eab1";
}
.imoon-google-plus2:before {
	content: "\eab2";
}
.imoon-google-plus3:before {
	content: "\eab3";
}
.imoon-google-plus4:before {
	content: "\eab4";
}
.imoon-google-drive:before {
	content: "\eab5";
}
.imoon-facebook:before {
	content: "\eab6";
}
.imoon-facebook2:before {
	content: "\eab7";
}
.imoon-facebook3:before {
	content: "\eab8";
}
.imoon-instagram:before {
	content: "\eab9";
}
.imoon-twitter:before {
	content: "\eaba";
}
.imoon-twitter2:before {
	content: "\eabb";
}
.imoon-twitter3:before {
	content: "\eabc";
}
.imoon-feed2:before {
	content: "\eabd";
}
.imoon-feed3:before {
	content: "\eabe";
}
.imoon-feed4:before {
	content: "\eabf";
}
.imoon-youtube:before {
	content: "\eac0";
}
.imoon-youtube2:before {
	content: "\eac1";
}
.imoon-vimeo:before {
	content: "\eac2";
}
.imoon-vimeo2:before {
	content: "\eac3";
}
.imoon-vimeo3:before {
	content: "\eac4";
}
.imoon-lanyrd:before {
	content: "\eac5";
}
.imoon-flickr:before {
	content: "\eac6";
}
.imoon-flickr2:before {
	content: "\eac7";
}
.imoon-flickr3:before {
	content: "\eac8";
}
.imoon-flickr4:before {
	content: "\eac9";
}
.imoon-picassa:before {
	content: "\eaca";
}
.imoon-picassa2:before {
	content: "\eacb";
}
.imoon-dribbble:before {
	content: "\eacc";
}
.imoon-dribbble2:before {
	content: "\eacd";
}
.imoon-dribbble3:before {
	content: "\eace";
}
.imoon-forrst:before {
	content: "\eacf";
}
.imoon-forrst2:before {
	content: "\ead0";
}
.imoon-deviantart:before {
	content: "\ead1";
}
.imoon-deviantart2:before {
	content: "\ead2";
}
.imoon-steam:before {
	content: "\ead3";
}
.imoon-steam2:before {
	content: "\ead4";
}
.imoon-github:before {
	content: "\ead5";
}
.imoon-github2:before {
	content: "\ead6";
}
.imoon-github3:before {
	content: "\ead7";
}
.imoon-github4:before {
	content: "\ead8";
}
.imoon-github5:before {
	content: "\ead9";
}
.imoon-wordpress:before {
	content: "\eada";
}
.imoon-wordpress2:before {
	content: "\eadb";
}
.imoon-joomla:before {
	content: "\eadc";
}
.imoon-blogger:before {
	content: "\eadd";
}
.imoon-blogger2:before {
	content: "\eade";
}
.imoon-tumblr:before {
	content: "\eadf";
}
.imoon-tumblr2:before {
	content: "\eae0";
}
.imoon-yahoo:before {
	content: "\eae1";
}
.imoon-tux:before {
	content: "\eae2";
}
.imoon-apple:before {
	content: "\eae3";
}
.imoon-finder:before {
	content: "\eae4";
}
.imoon-android:before {
	content: "\eae5";
}
.imoon-windows:before {
	content: "\eae6";
}
.imoon-windows8:before {
	content: "\eae7";
}
.imoon-soundcloud:before {
	content: "\eae8";
}
.imoon-soundcloud2:before {
	content: "\eae9";
}
.imoon-skype:before {
	content: "\eaea";
}
.imoon-reddit:before {
	content: "\eaeb";
}
.imoon-linkedin:before {
	content: "\eaec";
}
.imoon-lastfm:before {
	content: "\eaed";
}
.imoon-lastfm2:before {
	content: "\eaee";
}
.imoon-delicious:before {
	content: "\eaef";
}
.imoon-stumbleupon:before {
	content: "\eaf0";
}
.imoon-stumbleupon2:before {
	content: "\eaf1";
}
.imoon-stackoverflow:before {
	content: "\eaf2";
}
.imoon-pinterest:before {
	content: "\eaf3";
}
.imoon-pinterest2:before {
	content: "\eaf4";
}
.imoon-xing:before {
	content: "\eaf5";
}
.imoon-xing2:before {
	content: "\eaf6";
}
.imoon-flattr:before {
	content: "\eaf7";
}
.imoon-foursquare:before {
	content: "\eaf8";
}
.imoon-foursquare2:before {
	content: "\eaf9";
}
.imoon-paypal:before {
	content: "\eafa";
}
.imoon-paypal2:before {
	content: "\eafb";
}
.imoon-paypal3:before {
	content: "\eafc";
}
.imoon-yelp:before {
	content: "\eafd";
}
.imoon-libreoffice:before {
	content: "\eafe";
}
.imoon-file-pdf:before {
	content: "\eaff";
}
.imoon-file-openoffice:before {
	content: "\eb00";
}
.imoon-file-word:before {
	content: "\eb01";
}
.imoon-file-excel:before {
	content: "\eb02";
}
.imoon-file-zip:before {
	content: "\eb03";
}
.imoon-file-powerpoint:before {
	content: "\eb04";
}
.imoon-file-xml:before {
	content: "\eb05";
}
.imoon-file-css:before {
	content: "\eb06";
}
.imoon-html5:before {
	content: "\eb07";
}
.imoon-html52:before {
	content: "\eb08";
}
.imoon-css3:before {
	content: "\eb09";
}
.imoon-chrome:before {
	content: "\eb0a";
}
.imoon-firefox:before {
	content: "\eb0b";
}
.imoon-IE:before {
	content: "\eb0c";
}
.imoon-opera:before {
	content: "\eb0d";
}
.imoon-safari:before {
	content: "\eb0e";
}
.imoon-IcoMoon:before {
	content: "\eb0f";
}

.imoon-number:before {
	content: "\e600";
}
.imoon-number2:before {
	content: "\e601";
}
.imoon-number3:before {
	content: "\e602";
}
.imoon-number4:before {
	content: "\e603";
}
.imoon-number5:before {
	content: "\e604";
}
.imoon-number6:before {
	content: "\e605";
}
.imoon-number7:before {
	content: "\e606";
}
.imoon-number8:before {
	content: "\e607";
}
.imoon-number9:before {
	content: "\e608";
}
.imoon-number10:before {
	content: "\e609";
}
.imoon-number11:before {
	content: "\e60a";
}
.imoon-number12:before {
	content: "\e60b";
}
.imoon-number13:before {
	content: "\e60c";
}
.imoon-number14:before {
	content: "\e60d";
}
.imoon-number15:before {
	content: "\e60e";
}
.imoon-number16:before {
	content: "\e60f";
}
.imoon-number17:before {
	content: "\e610";
}
.imoon-number18:before {
	content: "\e611";
}
.imoon-number19:before {
	content: "\e612";
}
.imoon-number20:before {
	content: "\e613";
}