<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  
  <styleBundle path="~/Content/css">
    <include path="~/Content/Site.css" />
    <include path="~/Content/css/bootstrap.css" />
    <include path="~/Content/css/bootstrap-responsive.css" />
    <include path="~/Content/css/uniform.css" />
    <include path="~/Content/css/unicorn.main.css" />
    <include path="~/Content/css/unicorn.grey.css" />
    <include path="~/Content/css/select2.css" />
    <include path="~/Content/css/jquery.gritter.css" />
    <include path="~/Content/icon-moon/icon-moon.css" />
    
  </styleBundle>
  
  <styleBundle path="~/Content/themes/base/css">
    <include path="~/Content/themes/base/jquery-ui.css" />
    <include path="~/Content/themes/base/jquery-ui.structure.css" />
    <include path="~/Content/themes/base/jquery-ui.theme.css" />
  </styleBundle>

</bundles>
