<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <connectionStrings>
    <add name="Cnn" connectionString="Data Source=nagpur.ar.most;Initial Catalog=DGHP_Solicitudes;UID=sa;pwd=admin;Max Pool Size=100;Connection Timeout=60;App=SGI_Seg" providerName="System.Data.SqlClient" />
    <add name="DGHP_Entities" connectionString="metadata=res://*/Model.AGC.csdl|res://*/Model.AGC.ssdl|res://*/Model.AGC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nagpur.ar.most;initial catalog=DGHP_Solicitudes;persist security info=True;user id=sa;password=admin;multipleactiveresultsets=True;application name=SGI_DGHP_Entities_RIC&quot;" providerName="System.Data.EntityClient" />
    <add name="AGC_FilesEntities" connectionString="metadata=res://*/Model.AGC_Files.csdl|res://*/Model.AGC_Files.ssdl|res://*/Model.AGC_Files.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nagpur.ar.most;initial catalog=AGC_Files;persist security info=True;user id=sa;password=admin;multipleactiveresultsets=True;application name=SGI_DGHP_Entities_RIC&quot;" providerName="System.Data.EntityClient" />
    <add name="EE_Entities" connectionString="metadata=res://*/Model.EE_Entities.csdl|res://*/Model.EE_Entities.ssdl|res://*/Model.EE_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=nagpur.ar.most;initial catalog=ExpedienteElectronico;persist security info=True;user id=sa;password=admin;multipleactiveresultsets=True;application name=SGI_EE_Entities&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>